* {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

body {
  margin: 0;
}

.text {
  color: #111827;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  color: #DB2777;
  margin: 0 5px;
}

.logo a {
  text-decoration: none;
  color: #111827;
}

.nav-button {
  background-color: #DB2777;
  color: white !important;
  border-radius: 10px;
  border-color: transparent;
  padding: 8px 12px;
}

header {
  background-color: #F3F4F6;
  display: flex;
  height: 3%;
  justify-content: space-between;
  padding: 2%;
}

.top {


  order: 0;
  font-family: OpenSant;
  font-size: 30px;
  font-style: normal;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-top: 36px;
}

.image img {
  width: 100%;
}

.background {
  background: #F3F4F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 10px;
  gap: 10px;
}

.content {
  width: 100%;
  max-width: 736px;
}

.amet {
  align-items: center;
  padding: 16px 18px;
  gap: 18px;
  background: #D6D3D1;
  border-radius: 8px;
}

ul li {
  margin-bottom: 10px;
}

.amet p {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #111827;
  margin: 0;
}



.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}