* {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

body {
  margin: 0;
}

header {
  background: #F3F4F6;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #111827;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  color: #DB2777;
  margin: 0 5px;
}

.nav-button {
  background-color: #DB2777;
  color: white !important;
  border-radius: 10px;
  border-color: transparent;
  padding: 8px 12px;
}

.contact-body {
  display: grid;
  place-content: center;
}

.contact-body .title-section {
  text-align: center;
}

.contact-body .title-section h4 {
  font-weight: 300;
}

form {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: auto auto;
  gap: 40px;
}

form div {
  display: flex;
  flex-direction: column;
}

form div label {
  font-weight: 300;
}

form div input {
  width: 300px;
}